span.contact-name {
  display: inline-block;
  width: 150px;
}

span.user-circle {
  display: inline-block;
  padding-right: 15px;
}

li {
  list-style-type: none;
}

.manipulate-name {
  margin: 20px;
  display: inline;
}
.delete-name {
  margin: 10px;
}
